USE [master]
GO
/****** Object:  Database [ITIN_10_TRANSACTION]    Script Date: 28/10/2024 23:37:05 ******/
CREATE DATABASE [ITIN_10_TRANSACTION]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ITIN_10_TRANSACTION', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ITIN_10_TRANSACTION.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ITIN_10_TRANSACTION_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ITIN_10_TRANSACTION_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ITIN_10_TRANSACTION].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ITIN_10_TRANSACTION]
GO
/****** Object:  Table [dbo].[EMPLEADO]    Script Date: 28/10/2024 23:37:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLEADO](
	[DNI] [bigint] NOT NULL,
	[APELLIDO_NOMBRE] [varchar](50) NULL,
	[SUELDO_BRUTO] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[EMPLEADO] ([DNI], [APELLIDO_NOMBRE], [SUELDO_BRUTO]) VALUES (11111111, N'Lopez Carlos', CAST(500000 AS Decimal(18, 0)))
INSERT [dbo].[EMPLEADO] ([DNI], [APELLIDO_NOMBRE], [SUELDO_BRUTO]) VALUES (22222222, N'Perez Luis', CAST(750000 AS Decimal(18, 0)))
INSERT [dbo].[EMPLEADO] ([DNI], [APELLIDO_NOMBRE], [SUELDO_BRUTO]) VALUES (33333333, N'Gonzalez Filiberto', CAST(1000000 AS Decimal(18, 0)))
GO
USE [master]
GO
