<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="dbConnection" connectionString="Data Source=LAPTOP-JRNJNVR3\SQLEXPRESS;Initial Catalog=ITIN_10_TRANSACTION;Integrated Security=True;" />
    </connectionStrings>
</configuration>